$warnaUtama:#f6ebda;
$warnaKedua:#ff902a;
$warnaKetiga:#f9d9aa;
$warnaKeempat:#2f2105;
$warnaPutih:#ffffff;
$warnaAbu:#656565;
$warnaGlass:rgba(255, 255, 255, 0.5);
$shadowBlack:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$aboutImageHeight:670px;
$imageBorderSize:10px;
$normalR: 20px;
$roundR: 100%;
